<ion-header>
  <ion-toolbar>
    <ion-title>ProductList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card *ngFor="let item of motores">
    <ion-card-header>
      <ion-card-title>{{item.categoria}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Nombre: {{item.nombre}}

      Precio: {{item.precio}}
    </ion-card-content>
    <ion-button expand="block" [routerLink]="['/details',item.key]" routerDirection="forward">Detalles</ion-button>
  </ion-card>

  <ion-card *ngFor="let item of inmobiliarias">
    <ion-card-header>
      <ion-card-title>{{item.categoria}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Nombre: {{item.nombre}}

      Precio: {{item.precio}}
    </ion-card-content>
    <ion-button expand="block" [routerLink]="['/details',item.key]" routerDirection="forward">Detalles</ion-button>
  </ion-card>

  <ion-card *ngFor="let item of tecnologias">
    <ion-card-header>
      <ion-card-title>{{item.categoria}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Nombre: {{item.nombre}}

      Precio: {{item.precio}}
    </ion-card-content>
    <ion-button expand="block" [routerLink]="['/details',item.key]" routerDirection="forward">Detalles</ion-button>

  </ion-card>




</ion-content>
