<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quick Trade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" routerLink="/product-list" routerDirection="forward" color="primary">Lista de productos
  </ion-button>
  <ion-button expand="block" routerLink="/product-insert" routerDirection="forward" color="primary">Insertar Producto
  </ion-button>
  <ion-button expand="block" routerLink="/mis-ventas" routerDirection="forward" color="primary">Mis Ventas
  </ion-button>
</ion-content>