<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

      {{item.categoria}}
      Nombre: {{item.nombre}}
      Descripción: {{item.descripcion}}
      Tipo: {{item.tipo}}
      KM: {{item.km}}
      Año: {{item.anyo}}

      MetroCuadrado: {{item.metroCuadrado}}
      NºBaños: {{item.numBanyo}}
      NºHabitaciones: {{item.numHabitacion}}
      Localidad: {{item.localidad}}

      Estado: {{item.estado}}

      Precio: {{item.precio}}

</ion-content>