<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

     Categoria {{producto.categoria}}
      <div *ngIf="categoria==motor">
      Nombre: {{producto.nombre}}
      Descripción: {{producto.descripcion}}
      Tipo: {{producto.tipo}}
      KM: {{producto.km}}
      Año: {{producto.anyo}}
    </div>
      <div *ngIf="categoria==inmobiliaria">
      MetroCuadrado: {{producto.metroCuadrado}}
      NºBaños: {{producto.numBanyo}}
      NºHabitaciones: {{producto.numHabitacion}}
      Localidad: {{producto.localidad}}
    </div>
      <div *ngIf="categoria==tecnologia">
      Estado: {{producto.estado}}
    </div>
      Precio: {{producto.precio}}
   
</ion-content>